  .main-body {
    background-color: antiquewhite;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh
  }

  .grid-item{
    position: relative;
    /* display: flex; */
    max-width: 290px;
  }

  .quote-grid{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-area{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
  }
