  .main-body {
    background-color: antiquewhite;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh
  }

  .grid-item{
    position: relative;
  }

  .quote-grid{
    list-style-type: none;
  }

  .item-btn{
    display: block;
    width: 15em;
    line-height: 1.5em;
    padding: 0.2em;
    margin:0.3em;	
    border: 1px solid  #ccc ;  
    border-radius: 8px;
    -webkit-appearance:normal;
    font-size: 1em;
    word-wrap: break-word;
    background-color: whitesmoke;
  }

  .grid-area{
    margin: 0px;
    display: flex;
    justify-content: center;
    background-color: antiquewhite;
    align-items: center;
  }